<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    Hello: {{name}} Check your Blog account</p>
              <p>Your account is almost ready, you just have to check it at the following link:
                  <a href={{url}}>Check Account</a>
              <p>If you do not create this account, you can ignore the message

</body>

</html>